	body {
		background-color: #c8b9c5
	}

		main {
			width: 80%;
			margin: 0 auto;
		}

		article {
			margin-left: 20%;
			width:80%;
		}


		nav{
			float: left;
			width: 10%
			padding:2%;
			margin-top: 10%;

		}


	a {



	}

	h1 {
		font-family: 'Noto Serif JP', sans-serif;
		font-size: 3em;
	}

	p {

		font-family: 'Noto Serif JP', sans-serif;
	}

	blockquote {

	}

	